# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/
build/

# Node
node_modules/
dist/
.next/

# Env / secrets
.env
.env.*
*.local

# DB / logs
*.sqlite
*.db
*.log

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
